html {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    color: #333;
    letter-spacing: 0.5px;
}

.uk-navbar-nav>li>a {
    font-size: medium;
}
.uk-overlay-primary {
    background: #006828b0;
}
.uk-section-success{
    background: #006828;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    box-shadow: 0 1px 6px 0 rgb(118 118 118 / 25%);
    background: #fff;
}
.uk-card-title{
font-size: medium;
}

.uk-card-body {
    display: flow-root;
    padding: 10px 10px;
}

.uk-card-media-top>img{
    object-fit: cover;
    height: 200px;
}
.uk-card-default{
    box-shadow: none;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6{
    font-family: 'Rubik', sans-serif; 
    font-weight: 600;
    letter-spacing: 0.5px;
}
.uk-navbar-nav>li>a{
    font-size: medium;
    font-weight: 600;
}
.uk-navbar-nav>li.uk-active{
    position: relative;
}
.uk-navbar-nav>li.uk-active::before {
    content: "";
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    border-bottom: 2px solid currentColor;
    transition: right .3s ease-out;
}